
#pageTop .divMessageFlash{
	width: 20em;
	right:0;
	float: right;
	position: relative;
	z-index: 100000000;
}

#pageTop .containerFormReservation {
	padding-top: 2em;
}

#pageTop .formStyle {
	color: black;
}
	
#formResaStyle label, #formResaStyle span {
	color: black;
}
#formResaStyle input, #formResaStyle select {
	width: auto;
	color: black;
}

#pageTop .creneauOccupe{
	background-color: #ff5959;
}
#pageTop .creneauReserve{
	background-color: #0080c0;
}
#pageTop .creneauLibre{
	background-color: #91ff91;
}

#pageTop .creneauOccupeReserve{
	background-color: #ff8000;
}

#pageTop .iconAddEmailAdress{
	font-size : 1.5em;
}
#pageTop .iconAddEmailAdress:hover{
	cursor: pointer;
}

#pageTop .modal-title{
	color: black;
}

#DetailCreneauModale {
	color: black;
}

#DetailCreneauModale .evenementValue{
	font-size: 14px;
}

#pageTop .copyrightStyle {
	font-size: 12px;
}

#pageTop .labelMesResaStyle {
	font-weight : bold;
}

#DetailCreneauModale .evenementValueTitle{
	font-weight: bold;
	color: #515151;
}

#calendar{
		width: 800px;
		text-align: center;
	}
#footer a {
	color: #337ab7;
}

#pageTop .clicEvenementStyle {
	font-style: italic;
	font-size : 11px;
}

#footer a:hover {
	color: #ffffff;
}
