
#pageTop .divMessageFlash{
	width: 20em;
	right:0;
	position: fixed;
	z-index: 1000000000;
}

#pageTop .containerFormReservation {
	padding-top: 2em;
}

#pageTop .formStyle {
	color: black;
}
	
#formResaStyle label, #formResaStyle span {
	color: black;
}
#formResaStyle input, #formResaStyle select {
	width: auto;
	color: black;
}

#pageTop .creneauOccupe{
	background-color: #ff5959;
}
#pageTop .creneauReserve{
	background-color: #b3ffff;
}
#pageTop .creneauLibre{
	background-color: #91ff91;
}
#pageTop .iconAddEmailAdress{
	font-size : 1.5em;
}
#pageTop .iconAddEmailAdress:hover{
	cursor: pointer;
}

#pageTop .modal-title{
	color: black;
}

#calendar{
		width: 800px;
		text-align: center;
	}

